@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  html {
    font-size: 100%;
    scroll-behavior: smooth;
  }

  h1 {
    font-size: clamp(
      1.5rem,
      0.9210199004975124rem + 3.150912106135987vw,
      3.875rem
    );
  }

  h2 {
    font-size: clamp(
      1rem,
      0.8781094527363185rem + 0.6633499170812603vw,
      1.5rem
    );
  }

  h3 {
    font-size: clamp(
      1.5rem,
      1.256218905472637rem + 1.3266998341625207vw,
      2.5rem
    );
  }

  body {
    @apply font-poppins bg-primaryColor overflow-x-hidden text-white;
  }

  section {
    @apply min-h-screen py-8 md:py-16;
  }

  input {
    @apply h-auto;
  }

  input:focus {
    @apply outline-none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

@layer components {
  .wrapper {
    width: min(1197px, calc(100% - 32px));
    margin-inline: auto;
  }

  .toast {
    @apply bg-tertiaryColor text-secondaryColor rounded-round fixed right-[-320px] top-[34px] z-[100] flex w-full max-w-[300px] cursor-pointer items-center justify-between p-4 shadow-2xl;
    transition: right 2s ease-in-out;
  }

  .toast.active {
    right: 16px;
  }

  .toast::before {
    @apply bg-secondaryColor rounded-tl-round rounded-bl-round absolute bottom-0 left-0 top-0 h-auto w-[5px] content-[""];
  }
}

@layer utilities {
  .privacy {
    @apply text-body relative cursor-pointer font-bold transition-colors duration-200 ease-in-out md:text-lg;
  }

  .privacy:hover {
    @apply text-secondaryColor;
  }

  .privacy::before {
    @apply bg-secondaryColor absolute bottom-0 left-0 h-[2px] w-full content-[""];
  }

  .headline {
    @apply bg-gradient-to-r from-[#FF8C00] to-[#FFA300] bg-clip-text text-center font-bold capitalize text-transparent;
  }

  .title {
    @apply my-6 font-bold;
  }

  .subtitle {
    @apply text-body;
  }
}
